body,html{
    width: 100%;
    height: 100%;
}
.warp{
    width: 100%;
    background: #f7f7f7;
}
.container{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.header{
    width: 1052px;
    height: 24px;
    color: #555;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    padding:0 36px;
}
.header a{
    color: #555;
}
.h_rigth span.phone{
    display: inline-block;
    height: 30px;
    padding-left: 14px;
    padding-right: 6px;
    margin-right: 6px;
    background:url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat 0 -115px;
    position: relative;
}
.h_rigth span.phone::after{
    position: absolute;
    right: 0;
    top: 3px;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #EEEEEE;
}
.h_rigth span a{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    margin-top: -3px;
}
.h_rigth a:hover{
    color:  #f27800;
}
.redbg{
    position: relative;}
.list1{
    position: absolute;
    top: 26px;
    left: -12px;
    padding: 20px 0 0 24px;
    width: 368px;
    height: 188px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list1_top{
    height: 60px;
}
.list1_top>a{
    display: block;
    float: left;
}
.list1_top a img{
    width: 58px;
    height: 58px;
    border: 1px solid #eee;
}
.l_top_box{
    float: left;
}
.l_top_box p{
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #555;
}
.l_top_box p:nth-child(1){
    width: 46px;
    background: #e23842;
    border-radius: 5px;
}
.l_top_box p:nth-child(1) a{
    color: #fff;
}
.l_b_clo{
    position: absolute;
    top:20px;
    right: 0;
}
.l_b_clo a{
    color: #336799;
}
.list1_top p span {
    display: inline-block;
    margin: 0 6px;
}
.list1_bot{
    padding-top: 40px;
}



.sign{
    margin-left: 6px;
}
.h_rigth{
    float: left;
}
.h_left{
    position: relative;
    float: left;
    margin-left: 96px;
}
.h_left span{
    display: inline-block;
    padding-right: 4px;
    padding-left: 6px;
    background: url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat right -146px;
}
.h_left span a{
    display: inline-block;
    font-size: 14px;
    padding-right: 6px;
    line-height: 30px;
    margin-top: -3px;
    background:url(https://cbu01.alicdn.com/cms/upload/2016/404/906/2609404_1073447813.png) right 12px no-repeat;
}
.h_left a:hover{
    color:  #f27800;
}
.h_left span:nth-child(1) a{
    background: none;
}
.list2{
    position: absolute;
    top: 23px;
    left: 76px;
    width: 252px;
    height: 138px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list2 ul li{
    float: left;
    margin: 0 8px;
}
.list2 ul li a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.list2 ul li a:nth-child(1){
    font-weight: bold;
}

.h_left span:nth-child(3) a.t i{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background: url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat 0 2px;
}

.list3{
    width: 446px;
    height: 154px;
    position: absolute;
    top: 23px;
    left: 160px;
    color: #666;
    font-size: 12px;
    display: none;
    border: 1px solid #eee;
    background-color: #fff;
}
.list3 div{
    height: 74px;
    line-height: 74px;
    text-align: center;
}
.h_left span .list3 a{
    background: #FF7300;
    display: block;
    width: 78px;
    height: 26px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    bottom: 14px;
    right: 15px;
}
.star{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/star.png) no-repeat;
}
.list4{
    position: absolute;
    top: 23px;
    left: 244px;
    width: 226px;
    height: 164px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list4 ul li{
    float: left;
    margin: 0 6px;
}
.list4 ul li a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.list4 ul li a:nth-child(1){
    font-weight: bold;
}
.list5{
    width: 88px;
    height: 158px;   
    border: 1px solid #eee;
    background-color: #fff;
    padding: 5px 0 0 7px;
    position: absolute;
    top: 23px;
    left: 332px;
    display: none;
}
.h_left span .list5 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list5 a:hover{
    color: #f27800;
}
.list6{
    width: 70px;
    height: 150px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 420px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list6 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list6 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list7{
    width: 88px;
    height: 132px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 497px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list7 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list7 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list8{
    width: 82px;
    height: 180px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 573px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list8 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list8 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list9{
    width: 70px;
    height: 60px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 663px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list9 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list9 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list10{
    width: 478px;
    height: 654px;
    position: absolute;
    top: 23px;
    right: 0;
    border: 1px solid #eee;
    background-color: #fff;
    display: none;
    z-index: 9999;
}
.list10 dl {
    padding: 16px 12px 0 18px;
}
.list10 dl dt{
    width: 56px;
    float: left;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #555;
    margin-right: 20px;
}
.list10 dl dd{
    width: 370px;
    float: left;
    color: #555;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 10px;
}
.list10 dl dd span{
    float: left;
    color: #555;
    font-size: 12px;
}
.h_left span .list10 dl dd a{
    color: #555;
    background: none;
}
.h_left span .list10 dl dd a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list10 dl .h_btn { 
    position: absolute;
    bottom: 0;
    right: 0;  
    height: 34px;
    width: 100%;
    line-height: 34px;
    background: #eee;
}
.list10 dl .h_btn .list_a_btn{ 
    position: absolute;
    bottom: 0;
    right: 20px; 
    background: none;
}



/* main */
.main{
    min-height: 790px;
}
/* 头部 */
.header_m{
    border-bottom: 1px solid #eee;
}
.header_h{
    height: 70px;
    padding-top: 20px;
    margin-left: -30px;
}
.a{
    float: left;
    width: 160px;
    height: 38px;
    line-height: 50px;
    margin: 8px 12px 0;
    text-indent: -9999px;
    background: url(https://login.1688.com/img/logo.png) 50px 0 no-repeat;
}
.txt{
    float: left;
    padding-left: 10px;
    font-size: 22px;
    line-height: 50px;
    font-weight: 600;
    color: #000;
    background: url(https://login.1688.com/img/split.png) -160px top no-repeat;
}

.h_bot{
    height: 24px;
    display: none;
} 
.h_bot a{
    display: inline-block;
    width: 152px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000;
    border-bottom:1px solid #eee;
} 

.m_list{
    min-height: 360px;
    background: #fff;
    padding-bottom: 30px;
}
.center{
    background:transparent url(https://cbu01.alicdn.com/cms/upload/2015/932/352/2253239_1148900260.png) no-repeat scroll 0 0;
    width: 520px;
    margin: 57px auto;
    height: 216px;
    position: relative;
}
.center p:nth-child(1){
    font-size: 17px;
    color: #333;
    position: absolute;
    top: 114px;
    left: 248px;
}
.center p:nth-child(2){
    font-size: 12px;
    position: absolute;
    top: 144px;
    left: 254px;
}
.center p:nth-child(2) a{
    display: inline-block;
    margin: 0 5px;
    color: #1e50a2;
}
.center p:nth-child(2) a:nth-child(1){
    width: 38px;
    height: 16px;
    background: #f27800;
    color: #fff;
    border-radius: 3px;
}
.center p:nth-child(2) a:hover{
    color: #f27800;
}
.center p:nth-child(2) a:nth-child(1):hover{
    color: #fff;
}
#select-all{
    width: 14px;
    height: 14px;
    border-radius: 3px;
}
.m_list ul{
    height: 40px;
    line-height: 40px;
    background-color: #F7F7F7;
}
.m_list ul li{
    float: left;
}
.m_list ul li.all{
    margin: 0 38px;
}
.m_list ul li.goods{
    margin-left:50px;
}
.m_list ul li.num{
    margin-left:460px;
}
.m_list ul li.pric{
    margin-left:160px;
}
.m_list ul li.yhu{
    margin-left:60px;
}
.m_list ul li.mon{
    margin-left:120px;
}
.goods_list{
    min-height: 360px;
    background: #fff;
}




/* #list_1{
    display: none;
} */
/* #list_2{
    display: none;
} */
.goods_list{
    min-height: 178px;
}
.g_box{
    width: 1190px;
    margin: 0 auto;
}
.g_b_top{
    height: 48px;
    line-height: 48px;
    padding:0 38px;
    border-bottom: 1px solid #ccc;
}
._top_l{
    float: left;
    color: #555;
}
._top_r{
    float: right;
    color: #555;
}
._top_r i{
    font-size: 10px;
    color: #ccc;
}
._icon_main{
    display: inline-block;
    width: 35px;
}
.g_main{
    min-height: 224px;
    background: #fff;
    padding: 0 38px 32px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.g_main .goos_m_c div>img{
    width: 80px;
    height: 80px;
    margin: 50px 10px 0;
}
.g_p{
    display: inline-block;
}
.goods_info{
    width: 1108px;
    height: 48px;
    margin: -36px 0 0 272px;
}    
.goods_info td:nth-of-type(1){
    width: 304px;
    color: #555;
}       
.goods_info td:nth-of-type(2){
    width: 234px;
}
.goods_info td:nth-of-type(2) i{
    display: block;
    float: left;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #999;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}
.goods_info td:nth-of-type(2) input{
    float: left;
    padding-left:6px ;
    width: 50px;
    height: 24px;
    border: 1px solid #999;
}
.goods_info td:nth-of-type(3){
    width: 114px;
}
.goods_info td:nth-of-type(4){
    width:142px ;
}
.goods_info td:nth-of-type(5){
    font-size: 18px;
    font-weight: bold;
    color: #FF7300;
}
.s_d{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 16px;
}
._icon{
    display: inline-block;
    background: url(https://cbu01.alicdn.com/cms/upload/2015/512/252/2252215_1955610150.png) no-repeat 0 -39px;
    margin-left: 4px;
    width: 15px;
    height: 18px;
    line-height: 16px;
    vertical-align: middle;
    padding: 0;
}
._icon_r_b1{
    display: inline-block;
    background: url(https://cbu01.alicdn.com/cms/upload/2015/977/752/2257779_1955610150.png) no-repeat 0 -50px;
    width: 14px;
    height: 14px;
    line-height: 45px;
    overflow: hidden;
    text-indent: -999px;
    text-indent: 0;
    margin-right: 16px;
}
._icon_r_b2{
    display: inline-block;
    background: url(https://cbu01.alicdn.com/cms/upload/2015/977/752/2257779_1955610150.png) no-repeat 0 0;
    width: 14px;
    height: 14px;
    line-height: 45px;
    overflow: hidden;
    text-indent: -999px;
    text-indent: 0;
}

.to_pay{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #999;
}
.to_pay a{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #FF7300;
    color: #fff;
    font-size: 18px;
    text-align: center;
}










/* 猜你喜欢 */
.mod-recommend {
    height: 295px;
    margin: 200px 0 0;
    width: 100%;
}
.mod-recommend header{
    width: 100%;
}
.mod-recommend .header li.active {
    border-bottom-color: #fff;
}
.mod-recommend .header li {
    border: 1px solid #d9d9d9;
    float: left;
    padding: 8px 16px;
    background-color: #fff;
    margin:-11px -1px 0 -36px;
}
.mod-recommend .content {
    background-color: #fff;
    margin-top: -1px;
    border: 1px solid #d9d9d9;
    padding: 24px 0 20px;
}
.mod-recommend .content ul{
    text-align: center;
    padding: 0 40px;
}
.mod-recommend .content ul li{
    float: left;
    margin: 0 16px;
}
.mod-recommend .cell-thumbnail {
    width: 152px;
}
.cell-thumbnail {
    zoom: 1;
}
.mod-recommend .cell-thumbnail dt {
    width: 150px;
    height: 150px;
    border: 1px solid #e5e5e5;
}

.cell-thumbnail dt {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    margin-bottom: 2px;
}
.img-vertical {
    display: table;
    text-align: center;
    overflow: hidden;
    font-size: 0;
    *display: block;
}
.mod-recommend .img_wrap{
    position: relative;
}
.mod-recommend .cell-thumbnail .description {
    padding: 6px 0 2px;
    height: 36px;
    overflow: hidden;
}
.mod-recommend .cell-thumbnail .description a{
    color: #555;
}
.mod-recommend .cell-thumbnail .description a:hover{
    color: #FF7300;
}
.cell-thumbnail dd {
    overflow: hidden;
    zoom: 1;
}
.mod-recommend dd.fd-clr {
    text-align: left;
    color: #f27800;
}
.mod-recommend .content ul:after {
    display: block;
    content: ' ';
    clear: both;
}



/* 尾部 */
.footer{
    width: 1380px;
    height: 122px;
    margin: 80px auto 0;
    border-top: 1px solid #eee;
    background: #f7f7f7;;
}
.footer a{
    font-size: 10px;
    color: #000;
}
.footer a:hover{
    color: #FF7300;
}
.footer_bottom{
    height: 70px;
}
.bot_t{
    width: 880px;
    margin: 12px auto 0;
}
.bot_t span{
    color: #999;
    margin: 0 4px;
}
.bot_t .copyright{
    color: #999;
}
.bot_bot{
    /* width: 992px; */
    margin: 12px auto;
    margin-left: -76px;
}
.bot_bot a{
    font-size: 12px;
}
.bot_bot span{
    color: #999;
    margin: 0 4px;
}
.bot_bot .f_b{
    width: 40%;
    margin: 0 auto;
}







/*联系客服*/
.s-box {
    position: fixed;
    right: 3px;
    top: 200px;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000000;
}
.s-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    cursor: pointer;
    background: url(https://cbu01.alicdn.com/cms/upload/2016/968/985/2589869_204222439.png) no-repeat 0 0;
}
.s-btn2 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FF7300;
    text-align: center;
    line-height: 20px;
    display: block;
    cursor: pointer;
    background-color: #E6E6E6;
}


