html,body{
    height: 100%;
}
#warp{
    width: 100%;
    height: 100%;
}
.container{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.w_c{
    height: 600px;
}
/* 头部 */
.header{
    height: 70px;
    padding-top: 20px;
    margin-left: 45px;
}
.a{
    float: left;
    width: 160px;
    height: 38px;
    line-height: 50px;
    margin: 8px 12px 0;
    text-indent: -9999px;
    background: url(https://login.1688.com/img/logo.png) 50px 0 no-repeat;
}
.txt{
    float: left;
    padding-left: 10px;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    color: #666;
    background: url(https://login.1688.com/img/split.png) -160px top no-repeat;
}
/* 主体 */
.main{
    height: 364px;
    margin-bottom: 90px;
}
.a_img{
    float: left;
    margin:0 45px;
}
.box{
    float: left;
    margin: 0 45px;
}
.top{
    width: 360px;
    height: 32px;
    font-size: 14px;
    color: #f27800;
    line-height: 32px;
    border: 1px solid #E7D3AC;
    margin-bottom: 18px;
}
.top img{
    margin: -4px 10px 0 20px;
}
.bottom{
    width: 354px;  
    height: 310px;
    margin-right: 6px;
    padding: 30px 34px 0 24px;
    border: 1px solid #CCCCCC;
    position: relative;
    /* display: none; */
}
.bottom2{
    width: 354px;
    height: 310px;
    margin-right: 6px;
    padding: 30px 34px 0 24px;
    border: 1px solid #CCCCCC;
    position: relative;
    display: none;
}
.bot_m i{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 52px;
    line-height: 52px;
    cursor: pointer;
    color: rgb(255, 68, 0);
}
.tip{
    display: block;
    position: absolute;
    top: 5px;
    right: 58px;
}
.pop{
    line-height: 16px;
    position: relative;
    z-index: 9999;
    border: 1px solid rgb(243, 217, 149);
    background: rgb(254, 252, 238);
    padding: 5px 10px;
}
.tor{
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 0px;
}
.tor i{
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(254, 252, 238);;
    border-style: solid;
    overflow: hidden;
    border-width: 6px 0px 6px 6px;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.tor span{
    border-width: 6px 0px 6px 6px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 144, 0);
    border-style: solid;
    overflow: hidden;
    top: 0px;
    left: 1px;
}
.content{
    color: rgb(255, 144, 0);
    font-size: 12px;
    font-weight: 400;
}
.f_head{
    margin-bottom: 20px;
}
.f_head a{
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
    line-height: 26px;
    margin-right: 10px;
}
.f_head a:hover{
    border-bottom: 2px solid #000;
}
.f_font{
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 9px;
    padding-bottom: 8px;
    font-weight: 700;
}
.erwi{
    margin-top: 30px;
    text-align: center;
}
.e_bot{
    width: 188px;
    margin: 0 auto;
}
.e_bot p{
    display: inline-block;
}
.e_bot p a{
color: #f27800;
}
.e_bot i{
    font-size: 34px;
    color: #f27800;
}
.username{
    width:302px;
    border: 1px solid #F4F2F2;
    margin-bottom: 20px;
}
.username i {
    display: inline-block;
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: white;
    background: #ccc;
}
.username input{
    width: 222px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.password{
    width:302px;
    border: 1px solid #F4F2F2;
    margin-bottom: 20px;
}
.password i {
    display: inline-block;
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: white;
    background: #ccc;
}
.password input{
    width: 222px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.form2{
    display: none;
}
.form2 .password{
    width:302px;
    border: 1px solid #F4F2F2;
    margin-bottom: 20px;
}
.form2 .password i {
    display: inline-block;
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: white;
    background: #ccc;
}
.form2 .password input{
    width: 182px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.form2 .password a{
    width: 70px;
    height: 40px;
    font-size: 12px;
    color: #666;
}
  
.btn input{
    width:302px;
    height:40px;
    font-size: 18px;
    color: white;
    background: #FF4400;
    border-radius: 5px;
}
.f_foot{
    line-height: 66px;
}
.f_foot a{
    float: right;
    margin: 0 5px;
    font-size: 12px;
    color: #666;
}
/* .form1{
    display: none;
} */
.f_phonenum{
    position: relative;
}
.f_phonenum ._username_{
    width: 180px;
    margin-left: 68px;
}
.pho_n{
    position: absolute;
    left: 40px;
    bottom: 0px;
    width: 65px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    background: url(https://gw.alicdn.com/tfs/TB1.8ugw.T1gK0jSZFrXXcNCXXa-200-200.png) no-repeat 48px 8px;
    background-size: 24px;
}
.pho_n span{
    display: block;   
    width: 65px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #000;
}

.pho_num{
    position: absolute;
    top: 40px;
    left: 40px;
    padding-left: 10px;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 0px;
    padding-right: 14px;
    border: none;
    appearance: none;
    outline: none;
    background: rgb(255, 255, 255);
    display: none;
}
.username .phonenum{
    margin-left: 65px;
    width: 190px;
}
/* 尾部 */
.footer{
    width: 960px;
    height: 122px;
    margin: 0 auto;
}
.footer a{
    color: #000;
}
.footer a:hover{
    color: #FF7300;
}
.footer_top{
    height: 48px;
    margin-left: -50px;
    padding: 0 25px;
    font-size: 12px;
    border-bottom: 3px solid #FF7300;
}
.footer_top div a{
    color: #666;
}
.right{
    margin-top: 4px;
}
.right span{
    display: inline-block;
}
.right .span1{
    float: left;
}
.right .span2{
    float: right;
}
.right .span2 a{
    color: #4388C3;
}
.right .span2 a:hover{
    color: #FF7300;
}
.footer_bottom{
    height: 70px;
}
.bot_t{
    width: 686px;
    margin: 12px auto 0;
}
.bot_t span{
    color: #999;
    margin: 0 4px;
}
.bot_t .copyright{
    color: #999;
}
.bot_bot{
    width: 992px;
    margin: 12px auto 0 -40px;
}
.bot_bot span{
    color: #999;
    margin: 0 4px;
}
.bot_bot .f_b{
    width: 40%;
    margin: 0 auto;
}

/*联系客服*/
.s-box {
    position: fixed;
    right: 3px;
    top: 200px;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000000;
}
.s-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    cursor: pointer;
    background: url(https://cbu01.alicdn.com/cms/upload/2016/968/985/2589869_204222439.png) no-repeat 0 0;
}
.s-btn2 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FF7300;
    text-align: center;
    line-height: 20px;
    display: block;
    cursor: pointer;
    background-color: #E6E6E6;
}


