body,html{
    width: 100%;
    height: 100%;
}
.warp{
    width: 100%;
}
.container{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.header{
    height: 24px;
    color: #555;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
}
.header a{
    color: #555;
}
.h_rigth span.phone{
    display: inline-block;
    width: 60px;
    height: 30px;
    padding-left: 14px;
    padding-right: 6px;
    margin-right: 6px;
    background:url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat 0 -115px;
    position: relative;
}
.h_rigth span.phone::after{
    position: absolute;
    right: 0;
    top: 3px;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #EEEEEE;
}
.h_rigth span a{
    display: inline-block;
    font-size: 14px;
    /* color: #000; */
    line-height: 30px;
    margin-top: -3px;
}
.h_rigth a:hover{
    color:  #f27800;
    text-decoration: underline;
}
.redbg{
    position: relative;
    margin-left: 6px;
    padding-left: 14px;
    background: url(https://img.alicdn.com/tfs/TB1EV4XrAvoK1RjSZPfXXXPKFXa-12-16.png) no-repeat 0 3px;
}
.list1{
    position: absolute;
    top: 22px;
    left: -12px;
    padding: 16px 0 0 7px;
    width: 280px;
    height: 116px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list1 p span{
    display: inline-block;
    margin: 0 13px;
    padding-left: 20px;
    line-height: 28px;
    color:#f27800 ;
    background: url(https://img.alicdn.com/tfs/TB140FnrkvoK1RjSZFNXXcxMVXa-14-14.png) no-repeat 0 6px;
}
.list1_p1{
    font-size: 15px;
    color: #222;
    margin-left: 15px;
    margin-bottom: 10px;
}
.close{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(https://img.alicdn.com/tfs/TB1WJ8lrhTpK1RjSZFKXXa2wXXa-12-10.png) no-repeat;
}
/* .redbg a:hover .list1{
    display: block;
} */
.sign{
    margin-left: 6px;
}
.h_rigth{
    float: left;
}
.h_left{
    position: relative;
    float: left;
    margin-left: 38px;
}
.h_left span{
    display: inline-block;
    padding-right: 4px;
    padding-left: 6px;
    background: url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat right -146px;
}
.h_left span a{
    display: inline-block;
    font-size: 14px;
    padding-right: 6px;
    line-height: 30px;
    margin-top: -3px;
    background:url(https://cbu01.alicdn.com/cms/upload/2016/404/906/2609404_1073447813.png) right 12px no-repeat;
}
.h_left a:hover{
    color:  #f27800;
    text-decoration: underline;
}
.h_left span:nth-child(1) a{
    background: none;
}
.list2{
    position: absolute;
    top: 23px;
    left: 76px;
    width: 252px;
    height: 138px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list2 ul li{
    float: left;
    margin: 0 8px;
}
.list2 ul li a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.list2 ul li a:nth-child(1){
    font-weight: bold;
}

.h_left span:nth-child(3) a.t i{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background: url(https://cbu01.alicdn.com/cms/upload/homepage/alibar/alibar.png) no-repeat 0 2px;
}

.list3{
    width: 446px;
    height: 154px;
    position: absolute;
    top: 23px;
    left: 160px;
    color: #666;
    font-size: 12px;
    display: none;
    border: 1px solid #eee;
    background-color: #fff;
}
.list3 div{
    height: 74px;
    line-height: 74px;
    text-align: center;
}
.h_left span .list3 a{
    background: #FF7300;
    display: block;
    width: 78px;
    height: 26px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    bottom: 14px;
    right: 15px;
}
.star{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/star.png) no-repeat;
}
.list4{
    position: absolute;
    top: 23px;
    left: 244px;
    width: 226px;
    height: 164px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}
.list4 ul li{
    float: left;
    margin: 0 6px;
}
.list4 ul li a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.list4 ul li a:nth-child(1){
    font-weight: bold;
}
.list5{
    width: 88px;
    height: 158px;   
    border: 1px solid #eee;
    background-color: #fff;
    padding: 5px 0 0 7px;
    position: absolute;
    top: 23px;
    left: 332px;
    display: none;
}
.h_left span .list5 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list5 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list6{
    width: 70px;
    height: 150px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 420px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list6 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list6 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list7{
    width: 88px;
    height: 132px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 497px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list7 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list7 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list8{
    width: 82px;
    height: 180px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 573px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list8 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list8 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list9{
    width: 70px;
    height: 60px;   
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 23px;
    left: 663px;
    padding: 5px 0 0 7px;
    display: none;
}
.h_left span .list9 a{
    display: block;
    font-size: 12px;
    color: #555;
    background: none;
}
.h_left span .list9 a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list10{
    width: 478px;
    height: 654px;
    position: absolute;
    top: 23px;
    right: 0;
    border: 1px solid #eee;
    background-color: #fff;
    display: none;
    z-index: 9999;
}
.list10 dl {
    padding: 16px 12px 0 18px;
}
.list10 dl dt{
    width: 56px;
    float: left;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #555;
    margin-right: 20px;
}
.list10 dl dd{
    width: 370px;
    float: left;
    color: #555;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 10px;
}
.list10 dl dd span{
    float: left;
    color: #555;
    font-size: 12px;
}
.h_left span .list10 dl dd a{
    color: #555;
    background: none;
}
.h_left span .list10 dl dd a:hover{
    color: #f27800;
    text-decoration: underline;
}
.list10 dl .h_btn { 
    position: absolute;
    bottom: 0;
    right: 0;  
    height: 34px;
    width: 100%;
    line-height: 34px;
    background: #eee;
}
.list10 dl .h_btn .list_a_btn{ 
    position: absolute;
    bottom: 0;
    right: 20px; 
    background: none;
}
.h_bann{
    background: #7a0909;
}
.pag{
    width: 1190px;
    height: 92px;
    margin: 0 auto;
    background: url(https://img.alicdn.com/imgextra/i2/O1CN01daHpe91eIt6V5eNbV_!!6000000003849-0-tps-1190-90.jpg) no-repeat;
}


/* main */
.main{
    width: 100%;
}
.main_header {
    height:134px ;
}
.main_header .h_top{
    height: 96px;
}
.main_header .h_top .log{
    line-height: 96px;
    float: left;
}
.main_header .h_top .log a img:nth-child(1){
    border-right: 1px solid #DFDFDF;
}

.main_header .h_top .search{
    float: right;
    width: 600px;
    height: 40px;
    margin-top: 26px;
    margin-right: 50px;
    border: 2px solid #FF5400;
}
.main_header .h_top .search input[type='button']{
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    background: #FF5400;
    float: right;
}
.main_header .h_top .search input[type='text']{
    width: 495px;
    height: 40px;
    float: left;
}
.main_header .h_top .search input[type='text']::-webkit-input-placeholder{
    text-indent: 12px;
    color: #757575;
}
.main_header .h_bto{
    height: 38px;
    border-bottom: 1px solid #F1E9E9;
}
.main_header .h_bto .t_img{
    width: 206px;
    line-height: 38px;
    font-size: 14px;
    padding-left: 14px;
    background: #FF5400;
    float: left;
}
.main_header .h_bto .list_a{
    float: left;
    line-height: 38px;
}
.main_header .h_bto .list_a a{
    display: inline-block;
    margin: 0 24px;
    font-size: 16px;
    color: #333333;
}
.main_header .h_bto .list_a a:nth-child(1){
    color: #FF5400;
}
.main_header .h_bto>a{
    display: block;
    float: right;
    font-size: 14px;
    color: #333333;
    line-height: 38px;
    margin-right: 10px
}
.main_header .h_bto .list_a a:hover{
    color: #FF5400;
}

/* banner */
.main_banner{
    height: 400px;
    width: 100%;
    border:1px solid #F1E9E9;
}

/* .main_banner bgcolor */

/* .c1{
    background-color: #fff;
}
.c2{
    background-color: #FF251B;
}
.c3{
    background-color: #7A0909;
}
.c4{
    background-color: #DE1C3E;
}
.c5{
    background-color: #2C89C4;
} */

.main_banner .container{
    position: relative;
}
/* 左 */
.menu{
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
}
.menu .menu_list{
    height: 400px;
    background-color: #696969;
}
.menu .menu_list li {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-indent: 34px;
}
.menu .menu_list li a{
    color: #fff;
}
.menu_list li:nth-child(1){
    background: url(../img/list.png)no-repeat 3px 0px;
}
.menu_list li:nth-child(2){
    background: url(../img/list.png)no-repeat 3px -32px;
}
.menu_list li:nth-child(3){
    background: url(../img/list.png)no-repeat 3px -64px;
}
.menu_list li:nth-child(4){
    background: url(../img/list.png)no-repeat 3px -92px;
}
.menu_list li:nth-child(5){
    background: url(../img/list.png)no-repeat 3px -122px;
}
.menu_list li:nth-child(6){
    background: url(../img/list.png)no-repeat 3px -152px;
}
.menu_list li:nth-child(7){
    background: url(../img/list.png)no-repeat 3px -180px;
}
.menu_list li:nth-child(8){
    background: url(../img/list.png)no-repeat 3px -212px;
}
.menu_list li:nth-child(9){
    background: url(../img/list.png)no-repeat 3px -242px;
}
.menu_list li:nth-child(10){
    background: url(../img/list.png)no-repeat 3px -272px;
}
.menu_list li:nth-child(11){
    background: url(../img/list.png)no-repeat 3px -302px;
}
.menu_list li:nth-child(12){
    background: url(../img/list.png)no-repeat 3px -332px;
}

/* banner */
.banner{
    float: left;
    margin-left: 220px;
    height: 400px;
    width: 596px;
}
.banner .swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-button-next, .swiper-button-prev{
    width: 41px;
    height: 41px;
    background: rgba(255, 255, 255, .9);
}
:root{
    --swiper-navigation-size:20px;
    --swiper-theme-color:#A0A0A0;
}
.b_prev{
    left: -100px;
}
.b_next{
    right: -100px;
}
.swiper-pagination-bullet{
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 0%;
    border:2px solid #FF5400;
  }
  .swiper-pagination-bullet-active{
    background-color: #FF5400;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets,
   .swiper-pagination-custom, 
  .swiper-pagination-fraction{
      left: 206px;
  }

/* 右 */
.warp_list{
    float: right;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
}
.list_r{
    float: left;
    width: 185px;
    height: 400px;
    text-align: center;
    border-right: 1px solid #F1E9E9;
}
.r_pic a p:nth-child(1){
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #FF5400;
}
.r_pic a p:nth-child(2){
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.r_pic a img{
    width: 120px;
    height: 120px;
    margin: 20px 0 30px;
}
.r_pic a img.pic_b{
    width: 170px;
    height: 158px;
    margin-bottom: 20px;
}
.list_r .r_pic .r_txt{
    display: block;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}
.list_r .r_pic .r_btnlist{
    height: 30px;
    margin: 10px 0 10px 10px;
}
.list_r .r_pic .r_btnlist .r_btn{
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    width: 75px;
    height: 28px;
    color: #FF5400;
    border: 1px solid #FF5400;
    margin:0 3px;
}
.list_r .r_pic .r_btnlist .r_btn:hover{
    color:#fff;
    background:#FF5400;
}
.list_r .r_pic .r_news {
    margin-top: 20px;
    margin-top: 30px;
}
.list_r .r_pic .r_news li{
    line-height: 24px;
    font-size: 18px;
    color: #666;
}
.list_r .r_pic .r_news li span{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.list_r .r_pic .r_news li i{
    display: inline-block;
    margin: 0 6px;
}
.list_r .r_pic .r_news li a{
    font-size: 12px;
    color: #666;
}
.list_r .r_pic .r_news li a:hover{
    text-decoration:underline;
}
.list_r .r_pic .r_news li:nth-child(3) a{
    margin-left: 3px;
}